.register-form {
  background-color: #1A1A1A;
  color: #FFFFFF;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
  padding: 40px;
  border-radius: 12px;
  margin: 0 auto;
  margin-top: 100px;
}

h3 {
  text-align: center;
  color: #E50914;
  margin-bottom: 30px;
  font-size: 28px;
}
.form-group {
  margin-bottom: 25px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}
input {
  background-color: #2C2C2C;
  color: #FFFFFF;
  border: 1px solid #444444;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}
input:focus {
  outline: none;
  border-color: #E50914;
  box-shadow: 0 0 0 3px rgba(229, 9, 20, 0.3);
}
button {
  width: 100%;
  padding: 15px;
  background-color: #E50914;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #B2070F;
}

.error-box {
  color: #FF6B6B;
  display: flex;
  align-items: center;
  justify-content: row;
  padding: 5px;
  animation: slideIn 0.3s ease-out;
  transform-origin: top;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto;
}

button:disabled {
  background-color: #4A4A4A;
  cursor: not-allowed;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateY(-10px) scaleY(0.95);
  }
  to {
      opacity: 1;
      transform: translateY(0) scaleY(1);
  }
}

@media (max-width: 768px) {
  .register-form {
      width: 90%;
      padding: 30px;
  }
}