.card-container {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 400px;
  background-color: #1A1A1A;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card-header {
  margin-bottom: 15px;
}

.title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-rating h4 {
  margin: 0;
  font-size: 1.5em;
  height: 58px;
  color: #E50914;
  display: flex;
  align-items: center;
  text-align: center;
}

h4 {
  height: 58px;
}

.user-rating {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #FFD700;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 6px;
}

.user-rating svg {
  margin-right: 5px;
}

.director-name {
  display: block;
  color: #CCCCCC;
  font-style: italic;
  margin-bottom: 10px;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.genre-tag {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8em;
}

.card-body {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.card-body img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.review-content h5,
.overview ng-star-inserted {
  font-size: 0.95em;
  color: #BBBBBB;
  margin-top: 0;
  margin-top: 0px ;
  margin-bottom: 0px ;
}

.overview {
  font-size: 1em;
  color: #DDDDDD;
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0px ;
}

.user {
  color: 1.2em;
}

p {
  margin-top: 0px ;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  bottom: 0;
}

.buttons button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.edit {
  background-color: #0077B5;
  color: white;
}

.delete {
  background-color: #E50914;
  color: white;
}

.edit:hover {
  background-color: #005885;
}

.delete:hover {
  background-color: #B2070F;
}