.add {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 7px;
  align-items: center;
  justify-content: center;
  background-color: #93BFCF;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.add:hover {
  background-color: rgb(147, 191, 207, 0.9);
}

.header {
  color: white;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  border-bottom: 4px solid grey;
  gap: 15px;
}

.titles {
  margin-left: 15px;
}

.add p {
  font-size: 15px;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}