::ng-deep .mat-mdc-dialog-surface {
  background-color: #1A1A1A !important;
  border-radius: none !important;
  z-index: 1 !important;
  overflow: visible;
}

.dialog-container {
  background-color: #1A1A1A;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  padding: 25px;
  width: 100%;
  min-height: 190px;
  max-height: 190px;
  min-width: 150px;
  border-radius: 12px;
  transition: max-height 0.3s ease;
  position: relative;
}

.dialog-container.expanded {
  max-height: 300px;
}

.title {
  color: #E50914;
  font-size: 26px;
  font-weight: bold;
  text-align: start;
  margin-top: 0;
}

input {
  background-color: #2C2C2C;
  color: #FFFFFF;
  border: 1px solid #444444;
  width: 210px;
  padding: 12px;
  border: 2px solid transparent;
  outline: none;
  transition: all 0.3s ease;
  font-size: 15px;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: #00ADB5;
}

.search-container {
  width: 210px;
  position: absolute;
  background-color: #222222;
  color: aliceblue;
  border-radius: 0 0 8px 8px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 100000;
  opacity: 0;
  transition: all 0.3s ease;
}

.search-title {
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 10000;
}

.search-title:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 360px){
  .title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 5px;
  }

  .search-container, input {
    width: 190px;
  }
}
