<div class="dialog-container" [class.expanded]="isExpanded">
  <h2 mat-dialog-title class="title">Adicionar favorito</h2>
  <mat-dialog-content>
    <div class="search">
      <input autocomplete="off" formControlName="show" [value]="inputValue"
        (keyup)="searchMovie($event)" class="select-movie" placeholder="Digite um título..." type="text"
        name="select-movie" id="select-movie">
    </div>
    <ng-container>
      <div class="search-container">
        <div *ngFor="let show of foundSearch$ | async">
          <span class="search-title" (click)="setInputValue(show.title)">{{ show.title }} ({{
            show.release_date.slice(0,4) }})</span>
        </div>
      </div>
    </ng-container>
