<button class="add" (click)="openDialog()">
  <svg fill="#000000" width="15px" height="15px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <title>plus</title>
    <path
      d="M30 14.75h-12.75v-12.75c0-0.69-0.56-1.25-1.25-1.25s-1.25 0.56-1.25 1.25v0 12.75h-12.75c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h12.75v12.75c0 0.69 0.56 1.25 1.25 1.25s1.25-0.56 1.25-1.25v0-12.75h12.75c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0z">
    </path>
  </svg>
  <p>Nova avaliação</p>
</button>

<div class="header">
  <p class="titles">Sua lista</p>
  <div class="order-container" (click)="showDropdown()">
    <p class="order">Ordernar por</p>
    <div class="svg-container">
      <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
        fill="#e8eaed">
        <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
      </svg>
    </div>
  </div>
  <div class="dropdown" *ngIf="dropdownDisplay" @dropdownAnimation>
    <div class="dropdown-item" (click)="filterShowsByNameAsc()">
      <p>Nome
        <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e8eaed">
          <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z" />
        </svg>
      </p>
    </div>
    <div class="dropdown-item" (click)="filterShowsByNameDesc()">
      <p>Nome
        <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e8eaed">
          <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
        </svg>
      </p>
    </div>
    <div class="dropdown-item" (click)="filterShowsByRatingAsc()">
      <p>Avaliação
        <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e8eaed">
          <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z" />
        </svg>
      </p>
    </div>
    <div class="dropdown-item" (click)="filterShowsByRatingDesc()">
      <p>Avaliação
        <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#e8eaed">
          <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
        </svg>
      </p>
    </div>
  </div>
</div>

<app-card class="cards" [shows]="shows"></app-card>

<div class="dialog">

</div>