<div class="filters">
    <p (click)="showDropDown()" class="order-by-text">Ordenar por <svg class="svg-dropdown"
            xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
        </svg></p>
    <div *ngIf="dropdownDisplay" class="dropdown" @dropdownAnimation>
        <div (click)="getReviews('rating', 'asc')" class="item">
            <p>Avaliação</p>
            <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                width="24px" fill="#e8eaed">
                <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z" />
            </svg>
        </div>
        <div class="item" (click)="getReviews('rating', 'desc')">
            <p>Avaliação</p>
            <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                width="24px" fill="#e8eaed">
                <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
        </div>
        <div class="item" (click)="getReviews('likes', 'asc')">
            <p>Likes</p>
            <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                width="24px" fill="#e8eaed">
                <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z" />
            </svg>
        </div>
        <div class="item" (click)="getReviews('likes', 'desc')">
            <p>Likes</p>
            <svg class="svg-dropdown" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                width="24px" fill="#e8eaed">
                <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
        </div>
    </div>
</div>
<div class="wrapper" *ngIf="reviews$ | async; else loading">
    <div class="reviews-container" *ngFor="let review of reviews$ | async">
        <div class="reviews-box">
            <div class="review">
                <div class="review-details">
                    <div class="img-wrapper">
                        <img *ngIf="review.profilePicture" src="data:image/jpeg;base64,{{ review.profilePicture }}"
                            alt="User Avatar">
                        <img *ngIf="!review.profilePicture"
                            src="https://img.freepik.com/free-vector/illustration-user-avatar-icon_53876-5907.jpg?t=st=1728179609~exp=1728183209~hmac=bcc2e062443cb92edd6ec60f31d8b25cf6f6a2dd896e177da630c57411aca4ca&w=826"
                            alt="User Avatar">
                    </div>
                    <div class="user-info">
                        <p class="username" [routerLink]="['/user/', review.reviewUserName, 'profile']">{{
                            review.reviewUserName }}</p>
                        <p class="rating"><span class="star">★</span>{{ review.userRating }}/10</p>
                    </div>
                </div>
                <div class="review-text">
                    <p>{{ review.userReview }}</p>
                </div>
                <div class="likes-box">
                    <div class="like" *ngIf="!review.isLiked && isLoggedIn()" (click)="changeLike(review)">
                        <svg class="empty-heart" xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z" />
                        </svg>
                    </div>
                    <div class="like" *ngIf="review.isLiked && isLoggedIn()" (click)="changeLike(review)">
                        <svg class="fill-heart" xmlns="http://www.w3.org/2000/svg" height="24px"
                            viewBox="0 -960 960 960" width="24px" fill="#EA3323">
                            <path
                                d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z" />
                        </svg>
                    </div>
                    <div class="like-amount">{{ review.likeAmount }} {{ likeText(review.likeAmount) }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="paginator" *ngIf="totalItems >= 1">
        <button class="paginator-btn" (click)="changeCurrentPage(false)" *ngIf="currentPage > 1">
            Anterior
        </button>
        <span class="page-info">Página {{ currentPage }} de {{ totalPages }}</span>
        <button class="paginator-btn" (click)="changeCurrentPage(true)" *ngIf="currentPage < totalPages">
            Próximo
        </button>
    </div>
</div>



<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>