<div class="dialog-container" [class.expanded]="isExpanded">
  <h2 mat-dialog-title class="title">Adicionar Avaliação de Filme</h2>
  <mat-dialog-content class="form-container">
    <form [formGroup]="formData" (ngSubmit)="saveMovie()" autocomplete="off">
      <div class="form-group">
        <label for="select-movie">Selecione o Título</label>
        <div class="search">
          <input formControlName="show" [ngStyle]="{'border-color': changeInputColor('show')}" [value]="inputValue"
            (keyup)="searchMovie($event)" class="select-movie" placeholder="Digite um título..." type="text"
            name="select-movie" id="select-movie">
        </div>
        <ng-container>
          <div class="search-container">
            <div *ngFor="let show of foundSearch$ | async">
              <span class="search-title" (click)="setInputValue(show.translatedTitle)">{{ show.translatedTitle }} ({{
                show.releaseDate.slice(0,4) }})</span>
            </div>
          </div>
        </ng-container>
        <app-form-error
          [condition]="fieldHasRequiredError('show') || false"
          text="Esse campo é obrigatório"></app-form-error>
      </div>
      <div class="form-group rating-group">
        <label for="rating">Nota</label>
        <input type="number" [ngStyle]="{'border-color': changeInputColor('rating')}" formControlName="rating"
          placeholder="Ex: 4.5" name="rating" id="rating" class="rating" min="0" max="10" step="0.1" required>
          
        <app-form-error
          [condition]="formData.get('rating')?.hasError('min') || formData.get('rating')?.hasError('max') || false"
          text="A nota deve estar entre 0 e 10"></app-form-error>
        <app-form-error
          [condition]="fieldHasRequiredError('rating') || false"
          text="Esse campo é obrigatório"></app-form-error>

      </div>
      <div class="form-group">
        <label for="review">Sua Opinião</label>
        <textarea formControlName="review" [ngStyle]="{'border-color': changeInputColor('review')}"
          placeholder="O que você achou do filme?" name="review" id="review" rows="4"></textarea>
          
      </div>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="b">Cancelar</button>
        <button mat-button cdkFocusInitial type="submit" [disabled]="isLoading">
          <span *ngIf="!isLoading">
            Adicionar
          </span>
          <div class="spinner" *ngIf="isLoading"></div></button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>