
.success {
  position: fixed;
  top: 8px;
  left: 4px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 3px;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 5px;
  background-color: rgb(58, 218, 58);
}

.error {
  position: fixed;
  top: 8px;
  left: 4px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 3px;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 5px;
  background-color: rgb(228, 63, 33);
}

p, h4 {
  margin: 0;
}

h4 {
  font-weight: 600;
}

@media (max-width: 424px) {
  .wrapper {
    width: 350px;
  }
}

@media (max-width: 370px) {
  .wrapper {
    width: 300px;
  }
}