* {
  color: aliceblue;
}

body {
  line-height: 1.6;
}

.main-container {
  width: 70%;
  margin: 40px auto;
  padding: 20px;
}

.main-info {
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.img-user-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.img-user-wrapper h2 {
  margin-bottom: 0px;
}

.img-box {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #EA3323;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userName h2 {
  font-size: 24px;
  text-align: center;
}

.user-stats {
  display: flex;
  gap: 20px;
}

.stat {
  text-align: center;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #EA3323;
}

.stat-label {
  font-size: 14px;
  color: #888;
}

.bio span {
  color: #888;
  font-weight: bold;
}

.bio p {
  margin-top: 10px;
}

.favorite-shows {
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.favorite-shows h2 {
  font-size: 22px;
  margin-bottom: 0px;
}

.edit-details,
.edit-fav-button {
  background-color: #EA3323;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 10px;
  gap: 5px;
  box-shadow: 0 4px 12px rgba(229, 9, 20, 0.3);
  transition: background-color 0.3s ease;
}

.edit-details:hover,
.edit-fav-button:hover {
  background-color: #fd3e2d;
  box-shadow: 0 6px 15px rgba(229, 9, 20, 0.4);
  cursor: pointer;
}

.edit-fav-container {
  width: fit-content;
  margin-left: auto;
}

.fav-title-container {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #EA3323;
  padding-bottom: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.edit-details-button {
  margin-left: auto;
}

.fav-img-box .title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #fff;
  font-size: 14px;
  z-index: 1;
  text-align: center;
}

.activity-item {
  background-color: #2a2a2a;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}

.activity-date {
  font-size: 12px;
  color: #888;
}

.section {
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 40px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 22px;
  border-bottom: 2px solid #EA3323;
  padding-bottom: 10px;
}

h2 {
  margin-top: 0px;
}

.recent-activity {
  padding-left: 20px;
}

.fav-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: 400px;
}

.placeholder {
  background-color: #2a2a2a;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  border: 1px solid transparent;
  position: relative;
  width: calc(25% - 15px);
  aspect-ratio: 2 / 3;
  min-width: 200px;
}

.placeholder img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 1;
}

.placeholder:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid aliceblue;
}

.add-svg {
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
  position: absolute;
  border-radius: 50%;
  border: 3px solid aliceblue;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.remove-svg {
  z-index: 1000;
  position: absolute;
  right: -10px;
  top: -10px;
  transition: all 0.3s ease;
}

.remove-svg:hover {
  transform: scale(1.10);
}

@media (max-width: 1450px) {
  .placeholder {
    width: calc(33.33% - 13.33px);
  }
}

@media (max-width: 1100px) {
  .placeholder {
    width: calc(50% - 10px);
  }
}

@media (max-width: 600px) {
  .placeholder {
    width: 100%;
    max-width: 400px;
    min-width: 100px;
  }
}

@media (max-width: 420px) {
  .main-container {
    min-width: 80%;
  }
}