<div class="main-container">
  <div class="main-info">
    <div class="img-user-wrapper">
      <div class="img-box">
        <img src="https://image.tmdb.org/t/p/w400/4zMUKCBq1OqMXFnNSLMVT0MgHXz.jpg" alt="User Avatar">
      </div>
      <div class="userName">
        <h2>Nome do usuário</h2>
      </div>
      <div class="user-stats">
        <div class="stat">
          <div class="stat-value">250</div>
          <div class="stat-label">Títulos</div>
        </div>
        <div class="stat">
          <div class="stat-value">1000</div>
          <div class="stat-label">Likes</div>
        </div>
      </div>
      <div class="edit-details-button">
        <button class="edit-details" [routerLink]="['edit']"><svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#e8eaed"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>Editar</button>
      </div>
    </div>
    <div class="bio">
      <span>Bio:</span>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui id fugit corporis labore temporibus, nesciunt
        officia consectetur necessitatibus, iusto facilis, obcaecati repellendus eligendi deleniti eveniet voluptate hic
        maiores similique assumenda!</p>
    </div>
  </div>
  <div class="favorite-shows">
    <h2>Títulos favoritos</h2>
    <div class="wrapper">
      <div class="fav-img-box">
        <img src="https://image.tmdb.org/t/p/w400/4zMUKCBq1OqMXFnNSLMVT0MgHXz.jpg" alt="User Avatar">
      </div>
      <div class="fav-img-box">
        <img src="https://image.tmdb.org/t/p/w400/4zMUKCBq1OqMXFnNSLMVT0MgHXz.jpg" alt="User Avatar">
      </div>
      <div class="fav-img-box">
        <img src="https://image.tmdb.org/t/p/w400/4zMUKCBq1OqMXFnNSLMVT0MgHXz.jpg" alt="User Avatar">
      </div>
      <div class="fav-img-box">
        <img src="https://image.tmdb.org/t/p/w400/4zMUKCBq1OqMXFnNSLMVT0MgHXz.jpg" alt="User Avatar">
      </div>
      <div class="fav-img-box">
        <img src="https://image.tmdb.org/t/p/w400/4zMUKCBq1OqMXFnNSLMVT0MgHXz.jpg" alt="User Avatar">
      </div>
    </div>

  </div>

  <div class="section">
    <h2>Atividade Recente</h2>
    <ul class="recent-activity">
        <li class="activity-item">
            <div class="activity-content">Assistiu "Título do Filme 2"</div>
            <div class="activity-date">2 horas atrás</div>
        </li>
        <li class="activity-item">
            <div class="activity-content">Adicionou "Título da Série 2" à lista "Para Assistir"</div>
            <div class="activity-date">1 dia atrás</div>
        </li>
        <li class="activity-item">
            <div class="activity-content">Avaliou "Título do Filme 3" com ★★★★☆</div>
            <div class="activity-date">3 dias atrás</div>
        </li>
    </ul>
</div>
</div>