<app-popup [popupDisplay]="popupDisplay" [title]="title" [subtitle]="subtitle" [type]="popupType"></app-popup>
<div class="main-wrapper">
  <div class="main-container">
    <div class="content-wrapper">
      <div class="img-container">
        <img class="img" [src]="showImage(foundShow.poster_path)">
      </div>
      <main class="main-content">
        <h2 class="title"> {{ foundShow.title }} </h2>
        <div class="overview-content">
          <div class="genres">
            <div class="genre" *ngFor="let genre of foundShow.genre_names">
              <span> {{ genre }} </span>
            </div>
          </div>
          <div class="rating">
            <span class="public-rating">
              <i class="fas fa-star"></i> Nota geral: {{ foundShow.vote_average }}/10
            </span>
            <span class="user-rating">
              <app-add-button class="add-button" (click)="openDialog(foundShow.title)" *ngIf="foundShow.user_rating == undefined"></app-add-button>
              <i class="fas fa-user-star"></i><span *ngIf="isLoggedIn() && this.foundShow.user_rating != undefined">Sua
                nota: {{ foundShow.user_rating }}</span>
            </span>
          </div>
          <div class="sinopsis">
            <h4 class="sinopsis-title">Sinopse</h4>
            <p class="sinopsis-text">
              {{ foundShow.overview }}
            </p>
          </div>
        </div>
      </main>
    </div>
    <aside class="additional-info">
      <div class="info-card" *ngIf="foundShow.directorName != undefined">
        <h4 class="info-card-title">Diretor</h4>
        <p class="info-card-content">{{ foundShow.directorName }}</p>
      </div>
      <div class="info-card">
        <h4 class="info-card-title">Ano de Lançamento</h4>
        <p class="info-card-content">{{ foundShow.release_date.substring(0, 4) }}</p>
      </div>
      <div class="info-card">
        <h4 class="info-card-title">Elenco Principal</h4>
        <p class="info-card-content"><span *ngFor="let name of mainActorsName">{{ name }} </span></p>
      </div>
    </aside>
  </div>
  <div class="actors-container">
    <div class="actor" *ngFor="let actor of actors">
      <img class="actor-image" [src]="showImage(actor.profile_path)" alt="">
      <div class="actor-text-container">
        <span class="actor-name"> {{ actor.name }} </span>
        <span class="character-name"> {{ actor.character }} </span>
      </div>
    </div>
  </div>
</div>