.main-container {
  display: flex;
  gap: 40px;
  padding: 40px;
  background-color: #141414;
  min-height: calc(100vh - 150px);
}

.content-wrapper {
  display: flex;
  flex: 1;
  gap: 40px;
}

.img-container {
  flex-shrink: 0;
  width: 500px;
  height: 100%;
  margin-top: 45px;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.img-container:hover {
  transform: translateY(-10px);
}

.img {
  width: 100%;
  min-height: auto;
  object-fit: fill;
  border-radius: 15px;
  object-position:50% 50%;
  transition: transform 0.3s ease;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.img:hover {
  transform: scale(1.05);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #f0f0f0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.genres {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.genre {
  background-color: #E50914;
  color: #eeeeee;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.genre:hover {
  background-color: #1e90ff;
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #1f1f1f;
  padding: 15px 25px;
  border-radius: 15px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.public-rating, .user-rating {
  color: #ffca28;
  font-weight: 600;
}

.sinopsis {
  line-height: 1.8;
  font-size: 1.1rem;
  background-color: #1f1f1f;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.sinopsis-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f0f0f0;
  border-bottom: 2px solid #E50914;
  padding-bottom: 10px;
  margin-top: 0px;
}

.sinopsis-text {
  text-align: justify;
}

.additional-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 195px;
}

.info-card {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #E50914;
  border-bottom: 2px solid #E50914;
  padding-bottom: 5px;
}

.actors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.actor {
  display: flex;
  flex-direction: column;
  width: 180px;
  background-color: #1f1f1f;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.actor-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-bottom: 3px solid #E50914;
}

.actor-text-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.actor-name {
  font-size: 1.1rem;
  font-weight: bold;
  color: #f0f0f0;
  margin-bottom: 5px;
}

.character-name {
  font-size: 0.9rem;
  color: #E50914;
  font-style: italic;
  overflow: hidden;
}

.info-card-content {
  font-size: 1rem;
  color: #f0f0f0;
}

@media (max-width: 1500px) {
  .main-container {
    flex-direction: column;
  }

  .additional-info {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
  }

  .info-card {
    flex: 1;
  }
}

@media (max-width: 968px) {
  .main-container {
    padding: 20px;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .img-container {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
  }

  .main-content {
    width: 100%;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

  .genres {
    justify-content: center;
  }

  .rating {
    flex-direction: column;
    gap: 10px;
  }

  .additional-info {
    flex-direction: column;
    margin-top: 0px;
  }

  .actors-container {
    gap: 20px;
  }

  .actor {
    width: 150px;
  }

  .actor-image {
    height: 225px;
  }

  .actor-name {
    font-size: 1rem;
  }

  .character-name {
    font-size: 0.8rem;
  }
}

.user-reviews-section {
  background-color: #1a1a1a;
  padding: 40px 20px;
  margin-top: 40px;
}

.user-reviews-title {
  color: #f0f0f0;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.user-reviews-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #E50914;
  margin: 15px auto 0;
}

